* {
    color: yellow;
    padding: 0;
    margin: 0;
    font-weight: bold;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

::cue {
    color: yellow;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

&::-webkit-scrollbar {
    display: none;
}

.container {
    background: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

button {
    background: transparent;
    border: 5px solid yellow;
    padding: 20px 10px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    outline: 0;
    cursor: pointer;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

button.escape {
    font-size: 16px;
    top: 80%;
    display: none;
}

p {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes glowing {
    0% {-webkit-box-shadow: 0 0 3px rgb(252, 255, 55); }
    50% {-webkit-box-shadow: 0 0 40px rgb(250, 253, 51); }
    100% {-webkit-box-shadow: 0 0 3px rgb(251, 255, 1); }
}

@-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
    0% {-webkit-box-shadow: 0 0 3px rgb(252, 255, 55); }
    50% {-webkit-box-shadow: 0 0 40px rgb(250, 253, 51); }
    100% {-webkit-box-shadow: 0 0 3px rgb(251, 255, 1); }
}